<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1 class="mb-5">Departments</h1>
                    <div class="table-responsive table--no-card m-b-30 p-3">
                        <table class="table table-borderless table-striped table-earning" id="students">
                            <thead>
                                <tr>
                                    <th class="text-left">Name</th>
                                    <th class="text-left">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-left">CIT</td>
                                    <td>
                                        <a href="#" class="btn btn-secondary">Students</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left">ADT</td>
                                    <td>
                                        <a href="#" class="btn btn-secondary">Students</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left">DEM</td>
                                    <td>
                                        <a href="#" class="btn btn-secondary">Students</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left">DEF</td>
                                    <td>
                                        <a href="#" class="btn btn-secondary">Students</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>